<div id="follow-icons">
	<a href="{{twitter_url}}" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="http://github.com/guilatrova" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/guilatrova" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="mailto:hello@guilatrova.dev" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a>
	<a href="{{@site.url}}/rss" target="_blank"><i class="fa fa-rss-square fa-2x"></i></a>
</div>

<!--
<a href="http://plus.google.com/+guilatrova" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
<a href="http://instagram.com/guilatrova" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
<a href="http://vimeo.com/guilatrova" target="_blank"><i class="fa fa-vimeo-square fa-2x"></i></a>
<a href="http://youtube.com/guilatrova" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a>
<a href="http://flickr.com/guilatrova" target="_blank"><i class="fa fa-flickr fa-2x"></i></a>
<a href="http://pinterest.com/guilatrova" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a>
<a href="http://guilatrova.tumblr.com" target="_blank"><i class="fa fa-tumblr-square fa-2x"></i></a>
-->
