
<!-- Elements -->

<div id="code-space-wrapper">
    <div class="outer" onclick="toggleCodeSpace()">
        <div class="dot red"><span>x</span></div>
        <div class="dot amber"><span>&ndash;</span></div>
        <div class="dot green"><span>+</span></div>
    </div>

    <div id="code-space">
        <div class="code-space-child">
            <div id="ace-editor">def foo() -&gt; str:
    return "Welcome to Gui Commits"

foo()</div>
            <div id="code-space-bottom-bar">
                <button
                    class="execute"
                    onclick="executePyodide()"
                    title="[cmd]+Enter or [ctrl]+Enter">
                    &#9654; Run
                </button>
            </div>
        </div>
        <div class="code-space-child">
            <div id="xterm"></div>
            <div id="code-space-bottom-bar">
                <button
                    class="clear"
                    onclick="clearXterm()"
                    title="clear output">
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Toolbar functions -->
<script type="text/javascript">
let codeSpaceOpen = false;
const isInteractive = true;

function toggleCodeSpace() {
    const element = document.getElementById("code-space-wrapper");
    element.classList.toggle("open");
    codeSpaceOpen = !codeSpaceOpen;
}
</script>

<!-- Ace Editor -->
<script src="https://pagecdn.io/lib/ace/1.4.5/ace.js" integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM=" crossorigin="anonymous"></script>
<script type="text/javascript">
    // It requires a div "#ace-editor" to exist within the page.
    var editor = ace.edit("ace-editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");
</script>

<!-- Xterm -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css" integrity="sha512-iLYuqv+v/P4u9erpk+KM83Ioe/l7SEmr7wB6g+Kg1qmEit8EShDKnKtLHlv2QXUp7GGJhmqDI+1PhJYLTsfb8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js" integrity="sha512-2PRgAav8Os8vLcOAh1gSaDoNLe1fAyq8/G3QSdyjFFD+OqNjLeHE/8q4+S4MEZgPsuo+itHopj+hJvqS8XUQ8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    const term = new Terminal({
        theme: {
            background: '#272822'
        }
    });
    term.open(document.getElementById('xterm'));

    function clearXterm() {
        term.clear();
    }
</script>

<!-- Pyodide -->
<script src="https://cdn.jsdelivr.net/pyodide/v0.19.1/full/pyodide.js"></script>
<script type="text/javascript">
    let pyodide = null;
    async function loadpyodide(){
        pyodide = await loadPyodide({
            indexURL : "https://cdn.jsdelivr.net/pyodide/v0.19.1/full/",
            stdout: (text) => {term.writeln(text);},
            stderr: (text) => {term.writeln(text);}
        });

        if (typeof pyodidePackages !== 'undefined') {
            pyodide.loadPackage(pyodidePackages);
        }
    }
    loadpyodide();

    function executePyodide() {
        term.clear();
        const writtenCode = editor.getValue();
        try {
            const output = pyodide.runPython(writtenCode)
            if (output) {
                term.writeln(output)
            }
        } catch (err) {
            term.writeln('\x1b[1;31m' + err.toString() + '\x1b[37m');
        }
    }
</script>

<!-- Shortcuts -->
<script type="text/javascript">
    window.onkeyup = function(e){
        if(e.ctrlKey && (e.code == 'Quote' || e.code == 'Backquote')){
            toggleCodeSpace();
        }
    }

    document.getElementById("ace-editor").onkeydown = function(e) {
        if ((e.metaKey || e.ctrlKey) && e.keyCode == 13) {
            executePyodide();
        }
    }
</script>
