{{!< default}}
{{#author}}
    <section class="author">
        {{#if profile_image}}
            <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
        {{/if}}


        <div class="author-content">
            <h2 class="author-name">
                {{name}}
            </h2>

            <a href="https://twitter.com/guilatrova?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="en" data-dnt="true" data-show-count="false">Follow @guilatrova</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <div class="bio-wrapper">
                {{#if bio}}
                    <p class="author-bio">{{bio}}</p>
                    {{!-- <p>Check out my CV: <a href="https://cv.guilatrova.dev/">https://cv.guilatrova.dev/</a></p> --}}
                {{/if}}
                <p>
                    I've had the great pleasure of meeting and talking with people
                    that contributed to my personal growth with insights and experiences, <strong>thus I'm always open to talk!</strong>
                </p>

                <p>
                    👉📬 Feel free to reach out through sending an <strong>email to <span><a href="#">📨 hello AT guilatrova.dev</a></span></strong>
                </p>

                <p>I'm currently working hard from Brazil 🇧🇷 to solve big challenges in a San Francisco 🇺🇸 startup</p>
            </div>
        </div>

    </section>
{{/author}}

{{#contentFor "title"}}Guilherme Latrova{{/contentFor}}
