{{!< default}}
<h1 class="post-title">💫 Goals</h1>

<p>I make my goals public and openly share my failures and mistakes. See <a href="https://blog.guilatrova.dev/goals-q1-2021/">kick-off post here</a>.</p>

<div>
    <h3>Rules:</h3>

    <ol>
        <li>Goals are split into quarters</li>
        <li>I'll also decide what I'm NOT doing</li>
        <li>Do not engage with tasks, but outcomes instead</li>
        <li>I distinct goals from habits</li>
        <li>It's ok to fail and change goals</li>
    </ol>
</div>

<hr />

{{> postlist}}
{{pagination}}

{{#contentFor "title"}}Goals{{/contentFor}}
