{{!< default}}

{{#post}}
<article id="series-content" class="{{post_class}}">
    <h1 class="post-title">{{title}}</h1>

    <section>
        {{content}}
    </section>
</article>
{{/post}}

<hr />
